.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/803243228399166960/3E18437D743F83B47BF89D531C8F766C1DE9D368/);
  background-color: #2d2d2d;
  background-blend-mode: soft-light;
}
.container {
  width: 450px;
  display: block;
  margin: auto;
  max-width: 450px;
}
.top-text,
.bottom-text {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  font-size: 30px;
  text-shadow: 4px 4px 0 black;
  color: rgb(255, 255, 255);
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Londrina Solid", cursive;
}
.top-text {
  top: 0;
}
.bottom-text {
  bottom: 0;
}

.title {
  color: white;
  text-align: center;
  font-family: "Londrina Solid", cursive;
}
.meme-template {
  width: 100%;
  position: relative;
}

.image-template {
  width: 100%;
}
.form {
  width: 100%;
}
.form-input {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
  width: 450px;
}
